---
layout: default
title: Archiv
---

<div class="text-center"><h3>Archiv</h3></div>

<div class ="archive">
{% assign year = '' %}
{% for post in site.posts %}
    {% assign postYear = post.date | date: "%Y" %}
    {% if year != postYear %}
    <br />
        <span style="margin-left:25px">
            <b style="color: #b3b3b3;font-size: larger">{{ post.date | date: "%Y" }}</b><br />
        </span>
    {% assign year = postYear %}
    {% endif %}
        <span style="margin-left:45px">
            <b style="color: #b3b3b3">{{ post.date | date: "%d.%m.%Y" }}</b> : <a href="{{ post.id }}">{{ post.title }}</a><br />
        </span>
{% endfor %}
</div>
