<div id="other-web" style="text-align: center">
    <a href="https://twitter.com/T3stInfected" class="twitter-follow-button" data-show-count="false"><img src="/assets/icons/twitter-bird-16x16.png"></a>
    <a href="http://de.linkedin.com/pub/frank-lucht/a/973/8b8" style="text-decoration:none;"><img src="/assets/icons/btn_in_20x15.png" width="20" height="15"></a>
    <a href="http://www.xing.com/profile/Frank_Lucht" target="_blank" rel="me"><img src="/assets/icons/xing_16x16.png" width="16" height="16" alt=""></a>
    <a href="https://github.com/digigoodz"><img src="/assets/icons/blacktocat-16.png" width="16" height="16"></a>
</div>
