---
layout: default
---
<article class="post">
    <header>
        <h1 class="post-heading"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <div class="post-author-line"><i>{{ page.date  | date: "%d.%m.%Y" }}</i>, {{site.author.name}}</div>
    </header>
    <section>
        {{content}}
    </section>
</article>
<div>
    <ul class="pager">
    {% if page.previous %}
        <li class="previous"><a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Vorheriger Artikel</a></li>
    {% endif %}
    {% if page.next %}
        <li class="next"><a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Nächster Artikel &rarr;</a></li>
    {% endif %}
    </ul>
</div>